*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #4F709C;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    border-radius: 300px;
    filter: drop-shadow(#113461 12px -1px 59px);
}

.head-block{
   display: flex;
   justify-content: center;
   max-height: 789px;
}

.left-block{

    width: 450px;
    height: 600px;
    padding: 50px 9% 0px 9%;
    background-color: #587cab;
    border-radius: 0px 30px 30px 0px;
}

.right-block-signUp{

    width: 450px;
    height: 600px;
    border-radius: 30px 0px 0px 30px;
    background-image: url("../../assets/zdj2.jpg");
    background-size: cover;
}

h1{
    color: #e0d9d9;
    font-family: "Georgia", serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}

h3{
    color: #B0C4DE;
    
    margin-bottom: 15px;
}

.form-wrapper{
    position: relative;
    margin: 10px 0;
    width: 310px;
  
}

.form-wrapper label{
    position: absolute;
    top: 40%;
    bottom: 10px;
    font-family: "Georgia", serif;
    font-weight: 600;
    transform: translateY(-60%);
    color: #324763;
    font-size: 13px;
    pointer-events: none;
    outline: none;
}

.form-wrapper input{
    width: 118%;
    background: #7493bb;
    font-family: "Georgia", serif;
    border: none;
    outline: 0;
    font-size: 20px;
    padding: 80px 20px 0 90px;
    padding-top: 20px;
    color: #e0d9d9;
    transition: ease 50ms all;
    border-radius: 30px;
    margin-left: -30px;

}

.btn-register{
    width: 150px;
    height: 43px;
    color: #445f83;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Georgia", serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #e0d9d9;
    box-shadow: 0px 0px 25px #374e6d;
    outline: none;
    border: none;
    border-radius: 30px;
}

.btn-register:hover{
    color: #153660;
}

.already-registered {
    margin-top: 15px; 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #e2d7d7;
}

.already-registered a {
    color: #24364d;
    text-decoration: none;
}

.already-registered a:hover {
    color: #98171b;
}
